name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: CapinolDev
          template: classic
          base: header, community, repositories, metadata
          
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex
          plugin_languages_details: bytes-size, percentage
          
          
          plugin_achievements: yes
          plugin_achievements_threshold: B
          
          
          config_timezone: Europe/Amsterdam
          filename: github-metrics.svg